<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>Ohgiraffers Company</h1>
<button onclick="location.href='/employee/200'">특정 직원 조회</button>
<button onclick="location.href='/employee/list'">직원 전체 조회</button>
<button onclick="location.href='/employee/querymethod'">쿼리메소드 테스트</button>
<button onclick="location.href='/employee/regist'">직원 등록하기</button>
<button onclick="location.href='/employee/modify'">직원 이름 수정하기</button>
<button onclick="location.href='/employee/delete'">직원 삭제하기</button>
</body>
</html>